NEXT_PUBLIC_BASE_URL=https://julo.sn
NEXTAUTH_URL=https://julo.sn

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXT_PUBLIC_WAVE_MERCHANT_URL=https://pay.wave.com/m/YOUR_ID/c/sn/
RESEND_API_KEY=

NEXT_PUBLIC_WHATSAPP_NUMBER=221754469097
NEXT_PUBLIC_CONTACT_EMAIL=contact@julo.sn
